*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.driverManage-container{
    max-height: 100vh;
    width: 100%;
    background-color: var(--color);
    padding: 20px;
}

.title-container h1{
    color: var(--primary);
}

.title-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-container{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.left-container button,.profile-btn{
    background-color: var(--primary);
    border-style: none;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.left-container button:hover,.profile-btn:hover{
    opacity: 0.85;
}

.left-container input{
    padding: 8px 28px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.4);
}

.search-icon{
    color: gray;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

.search-div{
    position: relative;
}

.status-container{
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 15px;
}

.status-container select{
    padding: 4px 12px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.4);
}

.driver-button-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.driver-button-container button{
    border-radius: 25px;
    padding: 8px 14px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

.driver-button-container button:hover{
    background-color: var(--color);
}

.driver-card-container{
    display: flex;
    margin-top: 10px;
    gap: 20px;
    flex-wrap: wrap;
}

.driver-card-details{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 14px;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: 0.2s ease;
    text-align: center;
    flex-wrap: wrap;
}

.driver-card-details:hover{
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.08);
}

.trip-joined{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.driver-trip-card,
.driver-join-card{
    display: flex;
    flex-direction: column;
    background-color: #f4f7fe;
    min-width: 100px;
    border-radius: 10px;
}

.driver-button-block{
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.driver-button-block button{
    background-color: var(--primary);
    padding: 6px 12px;
    color: white;
    border-style: none;
    border-radius: 10px;
    width: 80%;
    cursor: pointer;
    transition: 0.3s;
}

.rating-star{
    background-color: #FFF7ED;
    color: #F59E0B;
    border-radius: 8px;
    padding: 3px;
    font-size: 0.8rem;
}

.star{
    color: #F59E0B;
}

.text-gray{
    color: gray;
    font-size: 0.8rem;
}

.driver-name{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.driver-button-block img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
