:root {
  --primary: #1E40AF;
  --secondary: #3B82F6;
  --background: #F8FAFC;
  --text-dark: #1F2937;
  --accent: #F97316;
}
.container {
  height: 100vh;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}


form {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 14px;

}


form h1 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary);
  font-weight: 600;
}


.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}


.form-group label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
}


.form-group input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  transition: 0.3s ease;
}


.form-group input:focus {
  outline: none;
  border-color: var(--secondary);
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.15);
}


.btn {
  margin-top: 10px;
}


.login-btn{
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: var(--primary);
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
}

.toggle {
  position: absolute;
  right: 12px;
  font-size: 13px;
  color: var(--secondary);
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.forgot {
  text-align: right;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 15px;
  color: var(--secondary);
  cursor: pointer;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-link span {
  color: var(--accent);
  cursor: pointer;
  font-weight: 500;
}


.login-btn:hover {
  background: var(--secondary);
  transform: translateY(-2px);
}


@media (max-width: 480px) {
  form {
    width: 90%;
    padding: 25px;
  }
}
