:root {
  --primary: #1E40AF;
  --secondary: #3B82F6;
  --background: #F8FAFC;
  --text-dark: #1F2937;
  --accent: #F97316;
}

* {
  box-sizing: border-box;
}



.auth-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
   
}


form {
  background: #ffffff;
  padding: 30px;
  border-radius: 14px;
  /* box-shadow: 0 12px 35px rgba(30, 64, 175, 0.15); */
}


form h1 {
  text-align: center;
  margin-bottom: 22px;
  color: var(--text-dark);
}


.error {
  background: #ffe5e5;
  color: red;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
}


.form-group {
  margin-bottom: 18px;
}


.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-dark);
}


.form-group input {
  width: 100%;
  padding: 11px;
  border-radius: 8px;
  border: 1px solid var(--secondary);
  outline: none;
  font-size: 14px;
  transition: 0.3s ease;
}


.form-group input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 8px rgba(30, 64, 175, 0.25);
}


.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 60px;
}


.toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
  color: var(--secondary);
  cursor: pointer;
  font-weight: 600;
}

/* Button Section */
.btn {
  margin-top: 10px;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  background: var(--primary);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Button Hover */
button:hover {
  background: var(--secondary);
}

/* Login Link (Bottom Text) */
.login-link {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
  color: var(--text-dark);
}

.login-link span {
  color: var(--accent);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-link span:hover {
  text-decoration: underline;
}
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
